<div *ngIf="show" class="main-container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="col-3 text-left coordinadora">
      <img src="../../assets/images/logo-gris.png" alt="logo Inteligo">
    </div>
    <div class="col-6 text-center title">
      <span>Inteligo Intraining</span>
      <span>| Dev</span>
    </div>
    <div class="col-3 text-right log-out">
      <a href="/login" (click)="logoutUser()"><i class="fa fa-sign-out" aria-hidden="true"></i>Salir</a>
    </div>
  </nav>


  <div class="container">
    <form action="" #userForm='ngForm' class='m-4 p-4 rounded border border-dark row' (ngSubmit)='onSubmit(userForm)'>
      <h4>Agregar usuario a su respectiva sesión</h4>
      <input type='hidden' name='$key' #$key='ngModel' [(ngModel)]='coursesServices.newUser.$key'>
      <div class="col-12 d-flex justify-content-around">
        <p class="mt-2 mr-2  font-weight-bold">Sesión </p>
        <select name='sesion' #sesion='ngModel' [(ngModel)]="coursesServices.newUser.sesion" (ngModelChange)="selectSesion($event)"
          class="custom-select">
          <option *ngFor="let sesion of optionSesions" [ngValue]="sesion.sesion" [selected]='optionSesions[0].sesion'
            class="select-year py-4">{{sesion.sesion}}</option>
        </select>
      </div>
      <div class="form-group col-12 row">
        <label for="inputEmail3" class="col-2 col-form-label font-weight-bold">Nombre</label>
        <div class="col-10">
          <input type="text" name="nombre" #nombre='ngModel' class="form-control" [(ngModel)]='coursesServices.newUser.nombre'>
        </div>
      </div>
      <div class="form-group col-12 row">
        <label for="inputEmail3" class="col-2 col-form-label font-weight-bold">DNI</label>
        <div class="col-10">
          <input type="text" name="dni" #dni='ngModel' class="form-control" [(ngModel)]='coursesServices.newUser.dni'>
        </div>
      </div>
      <div class="form-group col-12 row">
        <label for="inputEmail3" class="col-2 col-form-label font-weight-bold">Puesto</label>
        <div class="col-10">
          <input type="text" name="puesto" #puesto='ngModel' class="form-control" [(ngModel)]='coursesServices.newUser.puesto'>
        </div>
      </div>

      <div class="form-group col-12 row">
        <label for="inputEmail3" class="col-2 col-form-label font-weight-bold">Correo</label>
        <div class="col-10">
          <input type="text" name="correo" #correo='ngModel' class="form-control" [(ngModel)]='coursesServices.newUser.correo'>
        </div>
      </div>
      <div class="form-group col-12 row">
          <label for="inputEmail3" class="col-2 col-form-label font-weight-bold">Vp</label>
          <div class="col-10">
            <input type="text" name="vp" #vp='ngModel' class="form-control" [(ngModel)]='coursesServices.newUser.vp'>
          </div>
        </div>
        <div class="form-group col-12 row">
            <label for="inputEmail3" class="col-2 col-form-label font-weight-bold">División</label>
            <div class="col-10">
              <input type="text" name="division" #division='ngModel' class="form-control" [(ngModel)]='coursesServices.newUser.division'>
            </div>
          </div>
          <div class="form-group col-12 row">
              <label for="inputEmail3" class="col-2 col-form-label font-weight-bold">Departamento</label>
              <div class="col-10">
                <input type="text" name="departamento" #departamento='ngModel' class="form-control" [(ngModel)]='coursesServices.newUser.departamento'>
              </div>
            </div>
      <div class="col-12 row d-flex justify-content-around">
        <!-- inputs hidden -->
        <input type='hidden' name='codigo' #codigo='ngModel' [(ngModel)]='coursesServices.newUser.codigo'>
        <input type='hidden' name='asistencia' #asistencia='ngModel' [(ngModel)]='coursesServices.newUser.asistencia'>
        <input type='hidden' name='mesCapacitacion' #mesCapacitacion='ngModel' [(ngModel)]='coursesServices.newUser.mesCapacitacion'>
        <input type='hidden' name='numHoras' #numHoras='ngModel' [(ngModel)]='coursesServices.newUser.numHoras'>
        <input type='hidden' name='nombreCurso' #nombreCurso='ngModel' [(ngModel)]='coursesServices.newUser.nombreCurso'>
      </div>
      <div>
        <button type="submit">Crear Usuario</button>
      </div>

    </form>
  </div>


</div>
<div class="d-flex justify-content-center" *ngIf="!show">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Esta dirección no esta disponible</h1>
      <a class="nav-link sign-out" href="javascript:window.history.back();"><i class="fa fa-angle-double-left"
          aria-hidden="true"></i> Volver</a>
    </div>
  </div>
</div>