<nav class="navbar navbar-expand-lg navbar-crear-curso">
  <div class="col-md-6 col-6 col-sm-6">
    <img src="../../assets/images/logo-gris.png" alt="logo Inteligo">
  </div>
  <div class="col-md-6 col-6 col-sm-6 text-right">
    <span>Training enCurso</span>
    <div class="separador"></div>
    <span>Crear curso</span>
  </div>
</nav>
<div class="intraining-content">
  <div class="container-fluid">
    <form action="" #courseForm='ngForm' class="border-dark row"(ngSubmit)="onSubmitCourse(courseForm)">
      <div class="col-12 col-md-12 col-lg-5 mt-4">
        <div class="border bg-white rounded pl-3 pt-3 pr-3 pb-3 container">
          <h6 class="d-inline">Curso</h6>
          <!-- nombreCurso -->
          <input type="text" name='nombreCurso' #nombreCurso='ngModel' [(ngModel)]='misCursosService.newCourse.nombreCurso' placeholder="Ingresa título del curso">
          <div class="m-3 row">
            <!-- hidden key -->
            <input type='hidden' name='$key' #$key='ngModel' [(ngModel)]='misCursosService.newCourse.$key'>
            <!-- hidden curso id -->
            <input type='hidden' name='cursoId' #cursoId='ngModel' [(ngModel)]='misCursosService.newCourse.cursoId'>
            <!-- change type to save img -->
            <!-- img curso archivo -->
            <input class="col-12 img-course" type="text" name='imgCursoArchivo' #imgCursoArchivo='ngModel'
             [(ngModel)]='misCursosService.newCourse.imgCursoArchivo' placeholder="arrastrar imagen">
             <!-- hidden imgNombre -->
            <input type='hidden' name='imgNombre' #imgNombre='ngModel' [(ngModel)]='misCursosService.newCourse.imgNombre'>
             <!-- hidden imgUrl -->
            <input type='hidden' name='imgUrl' #imgUrl='ngModel' [(ngModel)]='misCursosService.newCourse.imgUrl'>
          </div>
          <div class="m-3 row">
            <!-- descripcionCurso -->
            <input class="col-12 resume-course" type="text" name='descripcionCurso' #descripcionCurso='ngModel' [(ngModel)]='misCursosService.newCourse.descripcionCurso'   placeholder="Ingresar resumen del curso">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 ">
        <div class="row">
          <div class="col-12 mt-4">
            <div class="border bg-white rounded pl-3 pt-3 pr-3 pb-3">
              <h6>Información</h6>
              <div class="desc-curso">
                <p>Total vacantes</p>
                <!-- totalVacantes -->
                <input type="text" name='totalVacantes' #totalVacantes='ngModel' [(ngModel)]='misCursosService.newCourse.totalVacantes'>
              </div>
              <div class="desc-curso">
                <p>Certificación</p>
                <!-- nombreCertificado -->
                <input type="text" name='nombreCertificado' #nombreCertificado='ngModel' [(ngModel)]='misCursosService.newCourse.nombreCertificado'>
              </div>
              <div class="desc-curso">
                <p>Objetivos</p>
                <!-- objetivos -->
                <input type="text" name='objetivos' #objetivos='ngModel' [(ngModel)]='misCursosService.newCourse.objetivos'>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="border bg-white rounded pl-3 pt-3 pr-3 pb-3">
              <h6>Planificación del curso</h6>
              <div class="desc-curso">
                <p>Lugar</p>
                <!-- lugar -->
                <input type="text" name='lugar' #lugar='ngModel' [(ngModel)]='misCursosService.newCourse.lugar'>
              </div>
              <div class="desc-curso">
                <p>Duración</p>
                <!-- numsesiones -->
                <input type="text" name='numSesiones' #numSesiones='ngModel' [(ngModel)]='misCursosService.newCourse.numSesiones'>
              </div>
              <div class="desc-curso">
                <p>Fechas</p>
                <div class="input-group">
                  <!-- fechas CAMBIAR A ARRAY date tiene el valor -->
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary " (click)="show()" type="button">+</button>
                  </div>
                </div>
                <p *ngIf="date">{{date.year}} {{date.month}} {{date.day}}</p>
              </div>
              <div class="desc-curso">
                <p>Horario</p>
                <!-- uniendo sale horario -->
                <div class="d-inline-flex">
                  <!-- horario hora -->
                  <input type="text" name="hour" [(ngModel)]="hour" placeholder="00:00" class="d-inline w-25">
                  <select name="initialAmPm" [(ngModel)]="initialAmPm" class="d-inline">
                    <option value="a.m">a.m</option>
                    <option value="p.m">p.m</option>
                  </select>
                  <!-- horario minutos -->
                  <input type="text" name="minute" [(ngModel)]="minute" placeholder="00:00" class="d-inline w-25">
                  <select name="finishAmPm" [(ngModel)]="finishAmPm" class="d-inline">
                    <option value="a.m">a.m</option>
                    <option value="p.m">p.m</option>
                  </select>
                </div>

              </div>
              <div class="desc-curso">
                <p>Total de horas</p>
                <!-- totalHoras -->
                <input type="text" name='totalHoras' #totalHoras='ngModel' [(ngModel)]='misCursosService.newCourse.totalHoras'>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3" *ngIf="boolSelectList">
        <div class="row">
          <div class="col-12 mt-4">
            <div class="border bg-white rounded pl-3 pt-3 pr-3 pb-3 content-expositor h-28"  [ngClass]="{'v-hidden': boolSelectList[0].option !== true}">
              <h6>Expositor</h6>
              <!-- hidden expositor id -->
              <input type="hidden" class="w-70" name='expositor_Id' #expositor_Id='ngModel' [(ngModel)]='misCursosService.newCourse.expositor_Id'>
              <!-- hidden tipocursoid -->
              <input type="hidden" class="w-70" name='tipoCurso_Id' #tipoCurso_Id='ngModel' [(ngModel)]='misCursosService.newCourse.tipoCurso_Id'>
              <div class="row">
                <div class="col-6">
                  <button (click)="boxCreate(this.boolSelectList[0].$key, this.boolSelectList[0].create,
                  this.boolSelectList[0].option,this.boolSelectList[0].select)">Crear</button>
                </div>
                <div class="col-6">
                  <button (click)="boxSelect(this.boolSelectList[0].$key, this.boolSelectList[0].create,
                  this.boolSelectList[0].option,this.boolSelectList[0].select)">Seleccionar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="border bg-white rounded pl-3 pt-3 pr-3 pb-3">
              <h6>Adjuntar</h6>
              <div>
                <span>Syllabus</span>
                <!-- silabusArchivo -->
                <input type="text" class="w-70" name='silabusArchivo' #silabusArchivo='ngModel' [(ngModel)]='misCursosService.newCourse.silabusArchivo'>
                <!-- silabusNombre hidden -->
                <input type="hidden" class="w-70" name='nombreSilabus' #nombreSilabus='ngModel' [(ngModel)]='misCursosService.newCourse.nombreSilabus'>
                <!-- hidden url silabus -->
                <input type="hidden" class="w-70" name='urlSilabus' #urlSilabus='ngModel' [(ngModel)]='misCursosService.newCourse.urlSilabus'>
              </div>
              <div>
                <span>Manual</span>
                <!-- manualArchivo -->
                <input type="text" class="w-70" name='manualArchivo' #manualArchivo='ngModel' [(ngModel)]='misCursosService.newCourse.manualArchivo'>
                <!-- nombreManual hidden -->
                <input type="hidden" class="w-70" name='nombreManual' #nombreManual='ngModel' [(ngModel)]='misCursosService.newCourse.nombreManual'>
                <!-- urlManual hidden -->
                <input type="hidden" class="w-70" name='urlManual' #urlManual='ngModel' [(ngModel)]='misCursosService.newCourse.urlManual'>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="border bg-white rounded pl-3 pt-3 pr-3 pb-3">
              <button class=" pl-4 pr-4" type='submit'>Crear curso</button>
              <div>
                <textarea name="" id="" cols="30" rows="3"></textarea>
                <button class=" pl-4 pr-4">Copiar enlace</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <form action="" #teacherForm='ngForm' class="border-dark row" (ngSubmit)='onSubmit(teacherForm)'>
      <div class="col-12 offset-md-6 col-md-6 offset-lg-8 col-lg-3" *ngIf="boolSelectList">
        <div class="border bg-white rounded pl-3 pt-3 pr-3 pb-3 content-expositor h-28 p-absolute" *ngIf="boolSelectList[0].create">
            <div class="d-flex justify-content-between" (click)="boxOption(this.boolSelectList[0].$key, this.boolSelectList[0].create,
            this.boolSelectList[0].option,this.boolSelectList[0].select)">
                <h6 class="d-inline-block">Expositor</h6>
                <span class="btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
            </div>
          <div class="row">
            <div class="col-6">
              <input type='hidden' name='$key' #$key='ngModel' [(ngModel)]='createTeacherService.newTeacher.$key'>
              <input type='hidden' name='expositorId' #expositorId='ngModel' [(ngModel)]='createTeacherService.newTeacher.expositorId'>
              <input type="text" name="foto" #foto='ngModel' [(ngModel)]='createTeacherService.newTeacher.foto' placeholder="arrastre imagen" class="w-100 h-100">
            </div>
            <div class="col-6">
              <div class="desc-curso">
                <input type="text" name="nombreExpositor" #nombreExpositor='ngModel' [(ngModel)]='createTeacherService.newTeacher.nombreExpositor' placeholder="Ingresar nombre" id="" class="w-100">
                <input type="text" name="perfilExpositor" #perfilExpositor='ngModel' [(ngModel)]='createTeacherService.newTeacher.perfilExpositor' placeholder="Ingresar profesión" class="w-100">
                <i _ngcontent-c0="" aria-hidden="true" class="fa fa-linkedin"></i>
                <input type="text" name="linkedIn" #linkedIn='ngModel' [(ngModel)]='createTeacherService.newTeacher.linkedIn' placeholder="Ingresar link" class="w-70">
              </div>
            </div>
          </div>
          <button class="d-flex justify-content-center btn" type='submit' (click)="boxOption(this.boolSelectList[0].$key, this.boolSelectList[0].create,
          this.boolSelectList[0].option,this.boolSelectList[0].select)">
            <span>Crear &nbsp;</span><i class="fa fa-plus-square-o" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </form>
    <form action="" class="border-dark row">
      <div class="col-12 offset-md-6 col-md-6 offset-lg-8 col-lg-3" *ngIf="boolSelectList">
        <div class="border bg-white rounded pl-3 pt-3 pr-3 pb-3 content-expositor h-28 p-absolute" *ngIf="boolSelectList[0].select">
            <div class="d-flex justify-content-between" (click)="boxOption(this.boolSelectList[0].$key, this.boolSelectList[0].create,
            this.boolSelectList[0].option,this.boolSelectList[0].select)">
                <h6 class="d-inline-block">Expositor</h6>
                <span class="btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
            </div>
          <div class="row">
            <div class="col-6">
              <input type="text" class="w-100 h-100">
            </div>
            <div class="col-6">
              <div class="desc-curso">
                <select name="" id="" class="w-100">
                  <option value="" selected>Seleccionar Expositor</option>
                  <option value="1">Gonzalo</option>
                  <option value="2">Rodrigo</option>
                </select>
                <input type="text" placeholder="Ingresar profesión" class="w-100">
                <i _ngcontent-c0="" aria-hidden="true" class="fa fa-linkedin"></i>
                <input type="text" placeholder="Ingresar link" name="" id="" class="w-70">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
