<div *ngIf = "showRegistro">
  <nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="col-md-6 col-6 col-sm-6">
        <img src="../../assets/images/logo-gris.png" alt="logo Inteligo">
    </div>
    <div class="col-md-6 col-6 col-sm-6 text-right">
        <span>Intraining EnCurso</span>
    </div>
  </nav>
  <div class="content-mis-cursos pt-4 pl-1 pr-1">
      <!-- <div *ngFor="let registerItem of inscripcionSubjectList">
          <div *ngFor="let userItem of userList">
              <div *ngIf="registerItem.usuario_Id == userItem.usuarioId" class="tg-fs8j"> {{userItem.apellidos}}, {{userItem.nombre}}</div>
              <div *ngIf="registerItem.usuario_Id == userItem.usuarioId" class="tg-fs8j"> {{userItem.correo}}</div>
              <div *ngIf="registerItem.usuario_Id == userItem.usuarioId" class="tg-fs8j"> {{registerItem.curso_id}}</div>
          </div>
      </div> -->
        <table id="tbl-ver-registro" class="tbl-ver-registro tg border-left border-bottom">
          <tr>
            <th class="tg-fs8j text-center font-weight-bold"> DNI</th>
            <th class="tg-fs8j text-center font-weight-bold"> VP (Actual)</th>
            <th class="tg-fs8j text-center font-weight-bold"> Área</th>
            <th class="tg-fs8j text-center font-weight-bold"> Sección</th>
            <th class="tg-fs8j text-center font-weight-bold"> Participante</th>
            <th class="tg-fs8j text-center font-weight-bold"> Puesto</th>
            <th class="tg-fs8j text-center font-weight-bold"> Correo</th>
            <th class="tg-fs8j text-center font-weight-bold"> Grupo</th>
            <th class="tg-fs8j text-center font-weight-bold"> Mes</th>
            <th class="tg-fs8j text-center font-weight-bold"> Capacitación</th>
            <th class="tg-fs8j text-center font-weight-bold"> Num de horas</th>
            <th class="tg-fs8j text-center font-weight-bold"> Asistencia</th>
          </tr>
          <tr *ngFor="let itemRegisterSession of sessionList">
            <td class="tg-fs8j"> {{itemRegisterSession.dni}} </td>
            <td class="tg-fs8j"> {{itemRegisterSession.vp}}</td>
            <td class="tg-fs8j"> {{itemRegisterSession.area}} </td>
            <td class="tg-fs8j"> {{itemRegisterSession.seccion}}</td>
            <td class="tg-fs8j"> {{itemRegisterSession.nombre}}</td>
            <td class="tg-fs8j"> {{itemRegisterSession.puesto}}</td>
            <td class="tg-fs8j"> {{itemRegisterSession.correo}}</td>
            <td class="tg-fs8j"> {{itemRegisterSession.codigo}}</td>
            <td class="tg-fs8j"> {{itemRegisterSession.mesCapacitacion}}</td>
            <td class="tg-fs8j"> {{itemRegisterSession.nombreCurso}}</td>
            <td class="tg-fs8j"> {{itemRegisterSession.numHoras}}</td>
            <td *ngIf="itemRegisterSession.asistencia == true" class="tg-fs8j"> OK</td>
            <td *ngIf="itemRegisterSession.asistencia == false" class="tg-fs8j"> No asistió</td>
          </tr>
          <!-- <tr>
            <td class="tg-fs8j"> ichavarry@inteligogroup.com</td>
            <td class="tg-fs8j"> Finanzas</td>
            <td class="tg-fs8j">Logística</td>
            <td class="tg-fs8j">G. Operaciones</td>
            <td class="tg-fs8j">Chavarry, Isabel</td>
            <td class="tg-fs8j">Analista Jr.  de Logística</td>
            <td class="tg-fs8j">24242424</td>
            <td class="tg-fs8j">0800320</td>
            <td class="tg-fs8j">Noviembre</td>
            <td class="tg-fs8j">Salud en el trabajo</td>
            <td class="tg-fs8j">04</td>
            <td class="tg-fs8j">OK</td>
          </tr>
          <tr>
            <td class="tg-fs8j"> fcolmenares@inteligogroup.com</td>
            <td class="tg-fs8j"> Finanzas</td>
            <td class="tg-fs8j">Logística</td>
            <td class="tg-fs8j">G. Operaciones</td>
            <td class="tg-fs8j">Colmenares, Francesca</td>
            <td class="tg-fs8j">Analista Jr.  de Logística</td>
            <td class="tg-fs8j">22222222</td>
            <td class="tg-fs8j">0800321</td>
            <td class="tg-fs8j">Noviembre</td>
            <td class="tg-fs8j">Salud en el trabajo</td>
            <td class="tg-fs8j">04</td>
            <td class="tg-fs8j">OK</td>
          </tr> -->

        </table>
  </div>
</div>
<div *ngIf = "!showRegistro">
  <app-mis-cursos></app-mis-cursos>
</div>