<div class="container-fluid view-login">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <!-- <div class="h-50"></div> -->
      <div class="mt-3 mx-5 w-70">
        <img class="absolute img-fluid" src="./../../assets/images/logo-azul.jpg" alt="">
          <h3 class="pb-4">Inscripción Intraining EnCurso</h3>
          <p class="pl-1">
              Te presentamos los cursos que tenemos para ti.
              Para acceder a la plataforma y seguir desarrollandote. <br>
              
              Antes de empezar toma en cuenta las siguientes consideraciones
          </p>
          <ul>
            <li>Coordina con tu jefe</li>
            <li>Asiste las 100% de las sesiones</li>
            <li>Aprueba el curso</li>
            <li>Si no podrás asistir, infórmalo a GDH con 1 semana 
                de anticipación
            </li>
          </ul>
          <button class="btn rounded-0 mt-3" (click)="onLogin()">Iniciar</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 py-x">
    </div>
  </div>
</div>