<div *ngIf = "showRegistro">
  <nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="col-md-6 col-6 col-sm-6">
        <img src="../../assets/images/logo-gris.png" alt="logo Inteligo">
    </div>
    <div class="col-md-6 col-6 col-sm-6 text-right">
        <span>Intraining EnCurso</span>
    </div>
  </nav>
  <a (click) = 'toggleRegistro()' class="back-page"><i class="fa fa-chevron-left" aria-hidden="true"></i>Volver</a>
  <div class="content-mis-cursos pt-4 pl-5">
        <table id="tbl-ver-registro" class="tbl-ver-registro tg border-left border-bottom">
          <tr>
            <th class="tg-fs8j text-center" rowspan="2"> Colaborador</th>
            <th class="tg-fs8j text-center" rowspan="2"> Correo</th>
            <th class="tg-fs8j text-center" rowspan="2"> Mes</th>
            <th class="tg-fs8j text-center" rowspan="2"> Capacitación</th>
            <th class="tg-fs8j text-center" rowspan="2"> Número de horas</th>
            <th class="tg-fs8j text-center" colspan="3"> Asistencia</th>
          </tr>
          <tr>
            <td class="tg-fs8j text-center">Sesión 1</td>
            <td class="tg-fs8j text-center">Sesión 2</td>
            <td class="tg-fs8j text-center">Sesión 3</td>
          </tr>
          <tr>
            <td class="tg-fs8j"> Cabrera Pérez, Alejandra</td>
            <td class="tg-fs8j">acabrera@inteligogroup.com</td>
            <td class="tg-fs8j">Mayo</td>
            <td class="tg-fs8j">Scrum Básico</td>
            <td class="tg-fs8j">24</td>
            <td class="tg-fs8j">OK</td>
            <td class="tg-fs8j">No participó</td>
            <td class="tg-fs8j">OK</td>
          </tr>
          <tr>
            <td class="tg-ycr8"> Alejo Campos, Karin</td>
            <td class="tg-ycr8"> kalejo@inteligogroup.com</td>
            <td class="tg-ycr8">Mayo</td>
            <td class="tg-ycr8">Scrum Básico</td>
            <td class="tg-ycr8">22</td>
            <td class="tg-ycr8">No participó</td>
            <td class="tg-ycr8">No participó</td>
            <td class="tg-ycr8">OK</td>
          </tr>
        </table>
  </div>
</div>
<div *ngIf = "!showRegistro">
  <app-mis-cursos></app-mis-cursos>
</div>

