<p>
  upload-xls works!
</p>
<input #excelFile type="file" id="excelfile" /> 
<input type="button" id="viewfile" value="View Contents" (onclick)="ExportToTable(excelFile.value)" />  
  
    <select id="selector">
        <option value="0">Select Page</option>
        <option value="1">Sheet1</option>
    </select>
    <br />  
   <br />
    <div class="formtable" id="left">
        <table id="exceltable" class="tabledata">  </table> 
    </div>
    <div id="right"><pre id="jsonformat"></pre></div>
