@media(max-width: 768px) {
  .title-course span {
    font-size: 13px;
  }

  li a {
    font-size: 13px;
  }
}

.container-fluid {
  margin-top: 10vh;
}

nav span {
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-tabs {
  border-bottom: none;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}
.btn-blue {
  background-color: #fdfdfd;
  border: 1px solid #a1a5ac;
  border-radius: 0px;
}

.nav-link.active {
  color: #4e84f1;
  background-color: #e3f2fd;
  border-color: #dee2e6 #dee2e6 #fff;
}

a {
  color: #4e84f1;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

.btn-assist {
  background-color: #4e84f1;
  font-weight: 500;
  color: #fff;
  border-radius: 0px;
  width: 100%;
}

.btn-assist-true {
  background-color: #eaebee;
  font-weight: 500;
  color: #817a7a;
  border-radius: 0px;
  width: 100%;
}

.navbar img{
  height: 35px !important;
  margin-left: -15px;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #fff;
}

thead tr {
  border-bottom: 2px solid #c7c7c7;
}

.table-bordered td {
  border-bottom: 1px solid #c7c7c7;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.table-bordered td button{
  position: relative;
  bottom: 1.3vh;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffffff40;
}

